
//Colors Definitions

$primary-color: #1F1F1F;
$secondary-color: #F5F5F5;

$primary-color-subheading: #303030;
$primary-color-text: #333333;
$primary-color-light: #222222;
$gray-color: #CDCDCD;
$success-color: #00E477;
$error-color: #FE5448;
$warning-color: #FBBF60;

//Breakpoint Definitions

$screen-xl-min: 1323px;
$screen-lg-min: 1024px;
$screen-md-min: 768px;
$screen-sm-min: 576px;










